// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 1rem;
// $line-height-base: 1.5;

// Colors
$main-600: #07738B;
$main-500: #1CC8EE;
$second-600: #A98B0D;
$second-500: #FCD42C;
$dark-900: #0A0A0B;
$dark-800: #131414;
$dark-700: #1C1D1D;
$dark-600: #323232;
$dark-500: #414242;
$dark-400: #525757;
$light-800: #F5F5F5;
